.resultsPanelContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultsPanelTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.resultsPanelTitle .subTitle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0px 0px 0.5rem 0px;
    border-bottom: 1px solid #e5e7eb;
}

.resultsPanelTitle .subTitle p{
    margin: 0px auto 0px auto;
}

.resultRows{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.resultRows p{
    width:50%;
}